<template>
      <v-col v-if="!isLoading">
        <v-sheet height="64">
          <v-toolbar flat color="#121212">
            <v-btn outlined class="mr-4" @click="setToday">
              今日
            </v-btn>
            <v-btn fab dense text @click="prev">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn fab text @click="next">
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            <v-toolbar-title>
              {{ calendarTitle }}
            </v-toolbar-title>
          </v-toolbar>
        </v-sheet>
        <v-sheet height="800" class="scheduler--sheet">
          <v-calendar
            ref="calendar"
            v-model="focus"
            color="primary"
            interval-count="76"
            interval-height="48"
            interval-minutes="15"
            first-time="6"
            type="day"
          >
            <template v-slot:day-header="">
              <template class="text-center">
                <v-row no-gutters>
                  <v-col class="text-center left-col">
                    予定
                  </v-col>
                  <v-col class="text-center">
                    実際にやったこと
                  </v-col>
                </v-row>
              </template>
            </template>
            <template v-slot:interval="{ time }" class="hour">
              <v-row no-gutters>
                <v-col class=" left-col task-col">
                  <v-text-field class="ma-1 task-input d-inline-block" @change="setData(time)" @click:clear="setData(time)" dense flat outlined clearable height="35" hide-details :placeholder="time" v-model="todo[time]"/>
                  <v-icon class="icon d-xs-none" dense @click="duplicateToBelow(time)">mdi-chevron-down</v-icon>
                  <v-icon class="icon d-xs-none" dense @click="duplicateToRight(time)">mdi-chevron-right</v-icon>
                </v-col>
                <v-col class="task-col">
                  <v-text-field class="ma-1 task-input d-inline-block" @change="setData(time)" @click:clear="setData(time)" dense flat outlined clearable height="35" hide-details :placeholder="time" v-model="done[time]"/>
                  <v-btn fab dense text small class="icon--memo" @click="createMemo(time)">
                    <v-icon>mdi-note-plus-outline</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </template>
          </v-calendar>
        </v-sheet>
      </v-col>
</template>

<script lang="ts">
import Vue from 'vue'
import firebase, { User } from 'firebase'
import moment from 'moment'
import axios from 'axios'
export interface TaskData {
  time: string
  todo: string
  done: string
  memo: string
}

export default Vue.extend({
  data() {
    return {
      isLoading: true,
      focus: '',
      todo: {},
      done: {},
      memo: {},
      email: '',
      fetchedData: {},
      dataToSet: {
        time: '',
        todo: '',
        done: '',
        memo: ''
      },
      calendarTitle: ''
    }
  },
  async mounted () {
    this.focus = moment().format('YYYY-MM-DD')
    await this.checkLoginStatus()
    if(this.email) {
      this.fetchData(moment().format('YYYY-MM-DD'))
    }
    this.setToday()
    this.isLoading = false
  },
  updated () {
    const calendar: any = this.$refs.calendar
    if (calendar) {
      this.calendarTitle = calendar.title
    }
  },
  methods: {
    createMemo (time: string) {
      const memo: any = this.memo
      this.$emit('createMemo', time, memo[time], this.focus, this.email)
    },
    setToday () {
      this.refreshCalendar()
      this.focus = moment().format('YYYY-MM-DD')
      this.fetchData(this.focus)
    },
    prev () {
      this.refreshCalendar()
      const calendar: any = this.$refs.calendar
      calendar.prev()
      this.fetchData(this.focus)
    },
    next () {
      this.refreshCalendar()
      const calendar: any = this.$refs.calendar
      calendar.next()
      this.fetchData(this.focus)
    },
    duplicateToRight(taskTime: string): void {
      const taskToDuplicate: any = this.todo
      this.witeToClipboard(taskToDuplicate[taskTime])
      this.$set(this.done, taskTime, taskToDuplicate[taskTime])
      this.setData(taskTime)
    },
    duplicateToBelow(taskTime: string): void {
      const taskToDuplicate: any = this.todo
      const nextTime = this.getTimeAfter15Min(taskTime)
      this.witeToClipboard(taskToDuplicate[taskTime])
      this.$set(this.todo, nextTime, taskToDuplicate[taskTime])
      this.setData(nextTime)
    },
    witeToClipboard(text: string) {
      navigator.clipboard.writeText(text)
    },
    // e.g) 8:45 -> 09:00 
    getTimeAfter15Min(currentTime: string): string {
      const taskTimeHour: number = Number(currentTime.split(':')[0])
      const taskTimeMin: number = Number(currentTime.split(':')[1])
      if (taskTimeMin === 45 ) {
        const nextHour: string = taskTimeHour + 1 >= 10 ? (taskTimeHour + 1).toString() : '0' + (taskTimeHour + 1).toString()
        return nextHour + ':00'
      }
      const currentHour: string = taskTimeHour >= 10 ? (taskTimeHour).toString() : '0' + taskTimeHour.toString()
      return currentHour + ':' +  (taskTimeMin + 15).toString()
    },
    refreshCalendar() {
      this.todo = {}
      this.done = {}
    },
    checkLoginStatus () {
      const router = this.$router
      firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          this.fetchData(this.focus, user.email ? user.email : '')
          this.email = user.email ? user.email : ''
        } else {
          router.push('/login')
        }
      })
    },
    async fetchData(date: string, email? :string) {
      try {
        // @ts-ignore
        const ref = await this.$fireStore.collection('users').doc(email || this.email).collection(date).get()
        ref.forEach((doc: any) => {
          this.$set(this.todo, doc.id, doc.data().todo)
          this.$set(this.done, doc.id, doc.data().done)
          this.$set(this.memo, doc.id, doc.data().memo)
        })
      } catch (e) {
        console.log(e)
      }
    },
    async setData(time: string, memo?: string) {
      try{
        let todo: {[key: string]: string} = this.todo
        let done: {[key: string]: string} = this.done
        // @ts-ignore
        let docRef = await this.$fireStore.collection('users').doc(this.email).collection(this.focus).doc(time)
        let setAda = docRef.set({
          todo: todo[time] ? todo[time] : '',
          done: done[time] ? done[time] : '',
          memo: memo ? memo : '',
        })
      } catch (e) {
        console.log(e)
      }
    },
  }
})
</script>

<style scoped lang="scss">
.scheduler--sheet {
  width: 900px;
  @include media(xs) {
    width: 350px;
  }
}
.icon {
  @include media(xs) {
    font-size: 12px;
  }
}
.icon--memo {
  @include media(xs) {
    display: none;
  }
}
.task-input {
  width: 83%;
  @include media(xs) {
    width: 70%;
  }
}
.left-col {
  border-right: 1px solid white;
}
.clock {
  margin: 30px;
}
</style>