// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// レスポンシブ対応用
$breakpoints: (
  xs: "only screen and (max-width: 600px)",
  sm: "only screen and (max-width: 960px)",
  md: "only screen and (max-width: 1264px)",
  lg: "only screen and (max-width: 1904px)",
  xl: "only screen and (max-width: 3000px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
