<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <p v-if="username" class="ma-4">こんにちは {{username}} さん</p>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="username" @click="logout()">
          <v-list-item-action>
            <v-icon>{{ logoutItem.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="logoutItem.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import firebase from 'firebase'

export default {
  mounted() {
    this.checkLoginStatus()
    this.items[0].title = this.username !== '' ? 'Daily Scheduler' : 'ログイン'
    this.items[0].icon = this.username !== '' ? 'mdi-calendar' : 'mdi-login'
  },
  updated() {
    this.checkLoginStatus()
    this.items[0].title = this.username !== '' ? 'Daily Scheduler' : 'ログイン'
    this.items[0].icon = this.username !== '' ? 'mdi-calendar' : 'mdi-login'
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      username: '',
      logoutItem: {
        icon: 'mdi-logout',
        title: 'ログアウト',
        onClick: this.logOut,
        to: '/login'
      },
      items: [
        {
          icon: 'mdi-calendar',
          title: 'Daily Scheduler',
          onClick: undefined,
          to: '/'
        },
        {
          icon: 'mdi-file-document',
          title: 'メモ一覧',
          onClick: undefined,
          to: '/memo'
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Daily Scheduler'
    }
  },
  methods: {
    async logout() {
      try{
        await firebase.auth().signOut()
        this.checkLoginStatus()
      } catch(error) {
        console.log('ログアウトに失敗しました:', error)
      }
    },
    async checkLoginStatus () {
      let current = this.username
      console.log('check status')
      await firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          const currentUser = firebase.auth().currentUser
          current = currentUser
        } else {
          current = undefined
        }
      })
      if(current) {
        this.username = current.displayName
      } else {
        this.username = ''
      }
    }
  }
}
</script>
