<template>
  <v-container class="px-1">
    <v-row>
      <TheScheduler ref="scheduler" @createMemo="createMemo"/>
      <v-col class="hidden-sm-and-down">
        <clock class="clock" :time="time" bg="white" color="gray"/>
        <div>メモ {{ memoTime }}</div>
        <v-textarea v-model="enteredMemo" solo @keyup="setMemo()" :readonly="!memoTime" :placeholder="memoTime ? '' : 'メモ追加ボタンを押してください'"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang='ts'>
import Vue from 'vue'
// @ts-ignore
import Clock from 'vue-clock2'
import moment from 'moment'
import axios from 'axios'
import TheScheduler from '~/components/TheScheduler.vue'

export default Vue.extend({
  props: {
    email: {
      type: String,
      default: ''
    }
  },
  components: { 
    Clock,
    TheScheduler
  },
  data() {
    return {
      time: moment().format('hh:mm:ss'),
      todo: {},
      done: {},
      memoTime: '',
      enteredMemo: '',
      fetchedData: {}
    }
  },
  computed: {},
  mounted() {
    this.timer()
  },
  asyncData({app}) {
    // INFO -> app.$fireStore etc. are accessible
  },
  methods: {
    timer() {
      setInterval(this.updateTime, 1000)
    },
    updateTime() {
      this.time = moment().format('hh:mm:ss')
    },
    createMemo(currentTime: string, currentMemo: string, date: string, email: string): void {
      const scheduler: any = this.$refs.scheduler
      scheduler.fetchData(date, email)
      this.memoTime = currentTime
      this.enteredMemo = currentMemo || ''
    },
    setMemo() {
      const scheduler: any = this.$refs.scheduler
      scheduler.setData(this.memoTime, this.enteredMemo)
    }
  }
})
</script>

<style scoped lang="scss">

</style>
