<template>
  <v-row class="mt-12" justify="center" align-items="center">
    <div class="signup">
      <v-form>
        <v-text-field
          v-model="mailaddress"
          :rules="emailRules"
          label="メールアドレス"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          type="password"
          label="パスワード"
          :rules="passwordRules"
          placeholder="6文字以上"
          required
        ></v-text-field>
      </v-form>
      <v-row justify="center">
        <v-btn class="ma-4" color="blue lighten-2" @click="logIn()" :loading="isLoading">ログイン</v-btn>
        <v-btn class="ma-4" color="red lighten-2" @click="signUp()" :loading="isLoading">新規登録</v-btn>
      </v-row>
      <v-row justify="center">
        <v-btn class="ma-4" color="green lighten-2" @click="logIn('izumeeeel@test.com', 'iiiiii')" :loading="isLoading">テストユーザーでログイン</v-btn>
      </v-row>
    </div>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import firebase from 'firebase'
export default Vue.extend({
  mounted() {
    this.autoLogin()
    this.username = ''
    this.password = ''
  },
  data() { 
    return {
      mailaddress: '',
      password: '',
      username: '',
      isLoading: false,
      emailRules: [
        (v: string) => /.+@.+\..+/.test(v) || '有効なメールアドレスを入力してください',
      ],
      passwordRules: [
        (v: string) => v.length >= 6 || '6文字以上入力してください',
      ],
    }
  },
  methods: {
    async signUp () {
      this.isLoading = true
      const router = this.$router
      try{
        firebase.auth().createUserWithEmailAndPassword(this.mailaddress, this.password)
          .then(user => {
            const currentUser = firebase.auth().currentUser
            if (currentUser) {
              currentUser.updateProfile({
                displayName: this.mailaddress.split('@')[0],
              }).then(function() {
                router.push('/')
              }).catch(function(error) {
                console.log(error)
                // An error happened.
              });
            }
          })
      } catch (error) {
        console.log('登録に失敗しました', error)
      }
      this.isLoading = false
    },
    async logIn (testEmail?: string, testPassword?: string) {
      this.isLoading = true
      const mailaddress = testEmail || this.mailaddress
      const password = testPassword || this.password
      const router = this.$router
      let current: any = undefined
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL)
      .then(function() {
        return firebase.auth().signInWithEmailAndPassword(mailaddress, password)
      })
      .then(function() {
        if (firebase.auth().getRedirectResult()) {
          router.push('/')
        }
      })
      .catch(function (error) {
      })
      this.isLoading = false
    },
    async autoLogin () {
      const router = this.$router
      await firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          router.push('/')
        }
      })
    }
  }
})
</script>
