<template>
  <v-row class="mt-12" justify="start" align-items="center">
    <div class="signup">
      <h1>メモ</h1>
      {{ email }}
      {{ memo }}
    </div>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import firebase from 'firebase'
export default Vue.extend({
  mounted() {
    this.checkLoginStatus()
    this.fetchMemo()
  },
  data() { 
    return {
      memo: '',
      email: 'izumeeeel@test.com'
    }
  },
  methods: {
    async fetchMemo() {
              // console.log(date)
        console.log(this.email)
      try {
        // @ts-ignore
        const ref = await this.$fireStore.collection('users').doc(this.email)
        const getDoc = ref.get()
          .then((doc: any) => {
            if(!doc.exists) {
              console.log('no')
            } else {
              console.log('data', doc.data())
            }
          })
        // this.memo = ref
        // this.memo = JSON.stringify(ref)
        // console.log(ref)
      } catch (e) {
        console.error('fetch memo error', e)
      }
    },
    async checkLoginStatus () {
      const router = this.$router
      await firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          this.email = user.email ? user.email : ''
        } else {
          router.push('/login')
        }
      })
    },
  }
})
</script>
